@using AHL.UI.Areas.Admin.Models
@model List<ProvinceItem>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section customStyles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/admin/plugins/sweetalert2/sweetalert2.css" />
}
@section customScripts
    {
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.24/i18n/Turkish.json"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
    </script>

}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex p-0">
                <h3 class="card-title p-3"><strong>Şehirler ve Görselleri</strong></h3>
                <ul class="nav nav-pills ml-auto p-2">
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <table id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Resim</th>
                                    <th>Id</th>
                                    <th>İsim</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><img src='@item.PicturePath' style='width:300px;' /></td>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Resim</th>
                                    <th>Id</th>
                                    <th>İsim</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
