<footer class="main-footer">
    <strong>İnanmak Başarmanın Yarısıdır! <a href="https://www.ahlatci.com.tr/">Ahlatçı Holding</a>.</strong>
    <div class="float-right d-none d-sm-inline-block">   
    </div>
</footer>