@using AHL.UI.Areas.Admin.Models
@model AdminUserItem

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="https://www.ahlatci.com.tr/" class="brand-link">
        <img src="~/admin/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Ahlatçı Holding</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="@Model.PhotoPath" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="@Model.LinkedlnPath" class="d-block">@Model.FullName</a>
            </div>
        </div>
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Yönetim Menü</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            <strong>İçerik Bilgileri</strong>
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/Student/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Öğrenci Bilgileri</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Province/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Şehir Bilgileri</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Address/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Adres Bilgileri</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/District/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Açıklama Bilgileri</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>