<section id="contact" class="tm-section-pad-top tm-parallax-2">
    <div class="container tm-container-contact">
        <div class="row">
            <div class="text-center col-12">
                <h2 class="tm-section-title mb-4">Bize Ulaşın!</h2>
                <p class="mb-5">
                    Ahlatçı Holding sizlerle iletişim kurmayı hedefliyor ve olumlu, olumsuz görüşlerinizi bildirmeniz için iletişim ekibi ile irtibat kurmanızı bekliyor.
                </p><br>
            </div>
                <div class="col-sm-12 col-md-6">
                    <div class="contact-item" style="display: inline-block; margin-right: 20px;">
                        <a rel="nofollow" href="tel:0100200340" class="item-link">
                            <i class="fas fa-2x fa-phone-square mr-4"></i>
                            <span class="mb-0">
                                +9 0364 444 0 186<br>
                                +90 364 224 66 66
                            </span>
                        </a>
                    </div>
                    <div class="contact-item" style="display: inline-block; margin-right: 20px;">
                        <a rel="nofollow" href="mailto:kurumsal@ahlatci.com.tr" class="item-link" target="_blank">
                            <i class="far fa-2x fa-envelope mr-4"></i>
                            <span class="mb-0">kurumsal@ahlatci.com.tr</span>
                        </a>
                    </div>
                    <div class="contact-item" style="display: inline-block;">
                        <a rel="nofollow" href="https://goo.gl/maps/yGcQb2YM8MNGesGf7" class="item-link" target="_blank">
                            <i class="fas fa-2x fa-map-marker-alt mr-4"></i>
                            <span class="mb-0">Eğridere Caddesi No:17 Merkez</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="Social" style="display: flex; align-items: center; margin-top: 20px;">
                <div class="Facebook" style="margin-right: 10px;">
                    <a href="https://www.facebook.com/AhlatciHolding" target="_blank">
                        <i class="fa-brands fa-facebook fa-2x"></i>
                    </a>
                </div>
                <div class="Instagram" style="margin-right: 10px;">
                    <a href="https://www.instagram.com/ahlatci.holding/" target="_blank">
                        <i class="fa-brands fa-instagram fa-2x"></i>
                    </a>
                </div>
                <div class="Twitter" style="margin-right: 10px;">
                    <a href="https://twitter.com/AhlatciHolding" target="_blank">
                        <i class="fa-brands fa-x-twitter fa-2x"></i>
                    </a>
                </div>
                <div class="Linkedln" style="margin-right: 10px;">
                    <a href="https://www.linkedin.com/company/ahlatciholding/" target="_blank">
                        <i class="fa-brands fa-linkedin fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center small tm-footer">
        <p class="mb-0">
            Copyright © 2020, Ahlatci Holding.
        </p>
    </footer>
</section>