<section id="infinite" class="text-white tm-font-big tm-parallax">

    <input type="checkbox" id="check">
    <label for="check"><i class="fas fa-bars" id="btn"></i><i class="fas fa-times" id="cancel"></i></label>
    <div class="sidebar">
        <header>MENÜ</header>
        <ul>
            <li><a href="#infinite" onclick="closeNav()"><i class="fas fa-home"></i>Ana Sayfa</a></li>
            <li><a href="#whatwedo" onclick="closeNav()"><i class="fas fa-hand-holding"></i>Hakkımızda</a></li>
            <li><a href="#testimonials" onclick="closeNav()"><i class="fas fa-text-height"></i>Görüşler</a></li>
            <li><a href="#gallery" onclick="closeNav()"><i class="fas fa-images"></i>Galeri</a></li>
            <li><a href="#contact" onclick="closeNav()"><i class="fas fa-envelope"></i>İletişim</a></li>
            <li><a href="/admin" onclick="closeNav()" target="_blank"><i class="fas fa-user"></i>Yönetim</a></li>
        </ul>

    </div>
    <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title">AHLATÇI HOLDİNG</h2>
            <p class="tm-hero-subtitle">
                Ahlatçı Holding Yazılım Departmanı Birliği
                <br>
            </p>
        </div>
    </div>
    <div class="tm-next tm-intro-next">
        <a href="#whatwedo" class="text-center tm-down-arrow-link">
            <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
        </a>
    </div>
</section>