<section id="testimonials" class="tm-section-pad-top tm-parallax-2">
    <div class="container tm-testimonials-content">
        <div class="row">
            <div class="col-lg-12 tm-content-box">
                <h2 class="text-white text-center mb-4 tm-section-title">Görüşler</h2>
                <p class="mx-auto tm-section-desc text-center">
                    Ahlatçı holding çalışanlarının işleri hakkında verdiği kısa bilgiler ve görüşleridir.
                </p>
                <div class="mx-auto tm-gallery-container tm-gallery-container-2">
                    <div class="tm-testimonials-carousel">
                        <figure class="tm-testimonial-item">
                            <img src="~/2117_infinite_loop/img/testimonial-img-01.jpg" alt="Image" class="~/2117_infinite_loop/img-fluid mx-auto">
                            <blockquote>
                                Ben frontend web geliştiricisiyim. Ahlatçı Holding bünyesinde birçok projede görev almış bulunmakta ve kendimi birçok alanda
                                geliştirmiş bulunmaktayım
                            </blockquote>
                            <figcaption>Catherine Win (Designer)</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img src="~/2117_infinite_loop/img/testimonial-img-02.jpg" alt="Image" class="~/2117_infinite_loop/img-fluid mx-auto">
                            <blockquote>
                                Ben uzun yıllar Ahlatçı Holding bünyesinde görev yapmış bulunmaktayım ve icrayı yönetme ve yönlendirme de kendimi geliştirmiş
                                bulunmaktayım.
                            </blockquote>
                            <figcaption>Dual Rocker (CEO)</figcaption>
                        </figure>

                        <figure class="~/2117_infinite_loop/tm-testimonial-item">
                            <img src="~/2117_infinite_loop/img/testimonial-img-03.jpg" alt="Image" class="~/2117_infinite_loop/img-fluid mx-auto">
                            <blockquote>
                                Ben pazarlama bölümünde çalışmaktayım yaptığımız projeleri ve ürettiğimiz ürünlerin tanıtımının sağlanması
                                ve uygun rekabet ortamına ayak uydurup daha öne geçmesine ait çalışmalar yapmaktayım..
                            </blockquote>
                            <figcaption>Sandar Soft (Marketing)</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img src="~/2117_infinite_loop/img/testimonial-img-04.jpg" alt="Image" class="~/2117_infinite_loop/img-fluid mx-auto">
                            <blockquote>
                                Ben frontend web geliştiricisiyim. Ahlatçı Holding bünyesinde birçok projede görev almış bulunmakta ve kendimi birçok alanda
                                geliştirmiş bulunmaktayım.
                            </blockquote>
                            <figcaption>Oliva Htoo (Designer)</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img src="~/2117_infinite_loop/img/testimonial-img-02.jpg" alt="Image" class="~/2117_infinite_loop/img-fluid mx-auto">
                            <blockquote>
                                Ben Ahlatçı Holding bünyesinde üst düzey yöneticiyim projelerin uygulanması, denetlenmesi ve teknoloji stratejilerinin
                                geliştirilmesi adına öncülük sağlamaktayım.
                            </blockquote>
                            <figcaption>Jacob Joker (CTO)</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tm-bg-overlay"></div>
</section>