<section id="whatwedo" class="tm-section-pad-top">

    <div class="container">
        <div class="row tm-content-box">
            <!-- first row -->
            <div class="col-lg-12 col-xl-12">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4 tm-section-title">Neler Yapıyoruz</h2>
                    <p class="mb-4 tm-intro-text">
                        ASP.NET CORE MVC, WEB API, Katmanlı Mimari, Veri Yapıları, HTML, CSS, Java Script, Entity Framework Code First,
                        ve C# dilini kullanarak teknolojinin getirdiği yeniliklere uyum sağlayarak Güvenli Yazılım Geliştirme
                        ve Web Uygulama Güvenliği prensiplerine dikkat ederek projeler gerçekleştiriyoruz.
                        <a href="https://www.ahlatcivakfi.org.tr/ondegerlendirme" target="_blank"><strong>Bilgi</strong></a>.
                    </p>
                </div>
            </div>

        </div><!-- first row -->

        <div class="row tm-content-box">
            <!-- second row -->
            <div class="col-lg-1">
                <i class="far fa-3x fa-chart-bar text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">Market Analizi</h2>
                    <p class="mb-4 tm-intro-text">
                        Ahlatçı Holding analizler yapıp marketteki yerini hep daha ileriye taşımayı
                        ve kaliteyi beraberinde getiren projelere imza atarak geleceğe daha emin adımlar atıyor.
                    </p>
                </div>
            </div>

            <div class="col-lg-1">
                <i class="far fa-3x fa-comment-alt text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">Hızlı Destek</h2>
                    <p class="mb-4 tm-intro-text">
                        <a rel="nofollow" href="https://www.ahlatci.com.tr/Iletisim.html" target="_blank"><strong>İ.D</strong></a> Ahlatçı Holding iletişim departmanı ve hızlı destek ekibi ile bize rahatça ulaşabilir istek ve arzularınızı bildirebilirsiniz.
                    </p>
                </div>
            </div>

        </div><!-- second row -->

        <div class="row tm-content-box">
            <!-- third row -->
            <div class="col-lg-1">
                <i class="fas fa-3x fa-fingerprint text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">Ahlatçı Holding Hakkında</h2>
                    <p class="mb-4 tm-intro-text">
                        Bereketli Anadolu'nun parlayan yıldızı Ahlatcı Holding, altın, finans, enerji,
                        sağlık, otomotiv ve gayrimenkul sektörlerinde yer alan 43 şirketiyle hizmet
                        vermektedir.
                    </p>

                    <div class="tm-continue">
                        <a href="https://www.ahlatci.com.tr/hakkimizda.html " class="tm-intro-text tm-btn-primary" target="_blank">Daha fazla bilgi edinin</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-1">
                <i class="fas fa-3x fa-users text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">Sosyal Medya</h2>
                    <p class="mb-4 tm-intro-text">
                        Ahlatçı Holding Sosyallikten ödün vermeyerek sosyal ağları kullanıp insanlarla iletişim kurmaya önem gösteriyor.
                    </p>

                    <div class="tm-continue">
                        <a href="#testimonials" class="tm-intro-text tm-btn-primary">Detaylar</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>